@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.app {
  background-color: #d8eefe;
}

.team-thumbnail {
  object-fit: cover;
  outline-style: solid;
  outline-color: #0073aa;
  outline-width: 2px;
  height: 270px;
  width: 270px;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.team-container {
  width: 270px;
}

.page-margins {
  margin: 0rem 4rem 0rem 4rem;
}

.contact-container{
  display: flex;
  justify-content: space-around;
  height: 95vh;
  align-items: center;
}

.contact-callout {
  background-color: white;
  outline-style: solid;
  outline-color: #0073aa;
  outline-width: 3px;
  height: 325px;
  width: 325px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-item{
    margin-top: 2rem;
  }
}

h5 {
  color: #0073aa;
  margin-top: 7px;
  font-weight: bold;
}

hr.dashed {
  border-top: 3px dashed #bbb;

}

.bottom-bar-container {
  background-color: #424545;
  height: 500px
}